@use '../abstracts/' as *;

.large {
  padding: 12px 24px;
  font-size: 18px;
}

.medium {
  padding: 10px 20px;
  font-size: 16px;
}

.small {
  padding: 8px 16px;
  font-size: 14px;
}

.primary {
  background-color: $primary-color;
  color: $secondary-color;
}

.secondary {
  background-color: $tertiary-color;
  color: $primary-color;
}

.error {
  background-color: $quaternary-color;
  color: $primary-color;
}
