.large {
  padding: 12px 24px;
  font-size: 18px;
}

.medium {
  padding: 10px 20px;
  font-size: 16px;
}

.small {
  padding: 8px 16px;
  font-size: 14px;
}

.primary {
  background-color: #ffffff;
  color: #00072b;
}

.secondary {
  background-color: #7fc008;
  color: #ffffff;
}

.error {
  background-color: #db303f;
  color: #fff;
}
