.modal-form {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
}

.modal-form h5 {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.modal-form form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.modal-form input,
.modal-form select {
  width: 100%;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
