@use '../abstracts/' as *;

.tag {
  padding: 4px 8px;
  border-radius: 4px;
  color: $primary-color;
}

.tag-active {
  border: 1px solid $tertiary-color;
  border-radius: 4px;
  padding: 1px 12px;
  color: $tertiary-color;
}

.tag-inactive {
  border-radius: 4px;
  padding: 1px 12px;
  border: 1px solid $quaternary-color;
  color: $quaternary-color;
}
.quantity {
  border: 1px solid $border-color;
  padding: 2px 12px;
  border-radius: 8px;
}
